[Unit]
Description=CatPuppetBridge IRC to Discord service
After=network.target

[Service]
ExecStart=PREFIX/bin/catpuppetbridge
Restart=always
User=catbridge

[Install]
WantedBy=multi-user.target