#!/usr/bin/make -f
%:
	dh $@ --with python3
override_dh_auto_build:
	exit
override_dh_auto_test:
	exit
override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/usr/bin
	ln -s /usr/lib/catpuppetbridge/main.py debian/usr/bin/catpuppetbridge
	cp catbridge.ini debian/etc
	pip install . --prefix=$(CURDIR)/debian/catpuppetbridge/usr
override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/usr/bin/catpuppetbridge
